REACT_APP_AUTHORITY=https://login.microsoftonline.com/<common-or-tennant-id>
REACT_APP_CLIENT_ID='client_id'
REACT_APP_REDIRECT_URL=http://localhost:3000
REACT_APP_POST_LOGOUT_URL=https://www.vtfk.no
REACT_APP_API_URL=https://api.dust.no
REACT_APP_SENTRY_DSN=https://ingestkey.ingest.sentry.io/id
REACT_APP_SENTRY_ENV=production
