@import "~@vtfk/components/src/ui/Tokens/tokens.scss";

.search {
  margin: auto;
  margin-top: 20px;
  max-width: 1000px;
  width: 80%;
}

.code {
  margin-top: 20px;
  background: none !important;
  padding: $baseUnit * 2 !important;
}