@import "~@vtfk/components/src/ui/Tokens/tokens.scss";

.layout {
  padding-bottom: $baseUnit * 6;
  max-width: 100%;

  @media(max-width: 1000px) {
    padding-left: 0;
    padding-bottom: $baseUnit * 3;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
  }

  .header {
    background: rgba(#BEDACA, 0.3);
    padding: ($baseUnit * 4) ($baseUnit * 2) ($baseUnit) ($baseUnit * 2);

    .topnav {
      height: 75px;
      margin-bottom: $baseUnit * 3;
      margin-left: -($baseUnit * 2);
      width: 100vw;

      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0;
      }

      .topnav-brand {
        text-align: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        border: 0;
        outline: 0;

        a {
          color: inherit;
          text-decoration: none;
          display: block;
        }

        .brand-logo {
          display: inline-block;
          width: 40px;
          margin-right: $baseUnit * 2;
          margin-top: 5px;

          img {
            width: 100%;
            height: auto;
          }
        }

        .brand-name {
          font-size: 21px;
          font-weight: 700;
        }
      }

      .user {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .user-name {
          margin-right: $baseUnit * 1.5;
        }

        .user-image {
          margin-right: $baseUnit * 2;
        }
      }
    }

    .header-title {
      text-align: center;
      margin: 0 0 ($baseUnit * 4) 0;
    }

    .header-description {
      text-align: center;
      max-width: 620px;
      margin: 0 auto ($baseUnit * 5) auto;
    }

    .header-search-text {
      max-width: 650px;
      margin: 0 auto ($baseUnit * 3) auto;
    }

    .header-search-type {
      max-width: 650px;
      margin: 0 auto ($baseUnit * 2) auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header-search-systems {
      max-width: 650px;
      margin: 0 auto 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;

      .paragraph {
        text-align: center;

        span {
          margin-left: $baseUnit * 2;
        }
      }

      .header-search-systems-toggle {
        margin-left: $baseUnit * 3;
        background: none;
        color: inherit;
        border: 0;
        outline: 0;
        font: inherit;
        padding: 0;
        box-shadow: none;
        margin-top: -2px;
        position: relative;

        > .icon {
          display: inline-block;
          cursor: pointer;
          padding: $baseUnit * 2;
        }

        .header-search-systems-list {
          position: absolute;
          top: -3px;
          right: -15px;
          background: #fff;
          border: 1px solid #E3E3E3;
          z-index: 100;
          box-shadow: 0 20px 12px 0 rgb(0 0 0 / 3%);
          font-size: 15px;

          .header-search-systems-list-header {
            display: flex;
            padding: $baseUnit * 2;
            align-items: center;
            border-bottom: 1px solid rgba(#C6C6C6, 0.3);

            .header-search-systems-list-header-title {
              margin-right: $baseUnit * 4;
              white-space: nowrap;
            }

            .icon {
              margin-left: auto;
              cursor: pointer;
            }
          }

          .header-search-systems-list-item {
            display: flex;
            align-items: center;
            text-align: left;
            padding: $baseUnit * 2;

            .header-search-systems-list-item-name {
              flex: 1;
              white-space: nowrap;
              margin-right: $baseUnit * 4;
            }

            .header-search-systems-list-item-switch {
              width: 48px;
              height: 24px;
              background: #fff;
              border: 2px solid #A3A3A3;
              cursor: pointer;
              border-radius: 12px;
              position: relative;

              &:after {
                content: "";
                position: absolute;
                top: 2px;
                right: 25px;
                width: 16px;
                height: 16px;
                background: #A3A3A3;
                transition: right ease-in-out 200ms;
                border-radius: 50%;
              }

              &.selected {
                background: #005260;
                border-color: #005260;

                &:after {
                  background: #fff;
                  right: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}
