@import "../../../node_modules/@vtfk/components/src/ui/Tokens/tokens.scss";
@import "../../../node_modules/@vtfk/components/src/common/scss/helpers";

.search-field {
  position: relative;

  .icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
      display: block;
    }
  }

  &.rounded {
    .icon {
      right: $baseUnit;
    }
  }
}
